h1{
    text-align: center;
}

.container {
    position: relative;
    width: 400px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
}
  
.image {
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
    
}

#buttons {
    /* position: inherit; */
    position: absolute;
}

/*boutton ajout dans le panier*/
#addCart{
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: #007BFF;
    box-shadow: 0 6px 12px 0 rgb(151, 151, 151);
    margin-top: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    text-emphasis: none;
}

/* boutton en savoir plus */
#moreInfos{
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: #ffa07a;
    box-shadow: 0 6px 12px 0 rgb(151, 151, 151);
    margin-top: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    text-emphasis: none;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4682b4;
}
  
.container:hover .overlay{
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 15px;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* text-align: center; */
    /* margin-top: 20px; */
}

.text ul {
    list-style-type: none;
}