<h1>Les cookies proposées par la boutiques:</h1>
<div *ngFor="let cookie of cookiesService.listCookies" class="container">
    <img [src]="cookie.picture" class="image">
    <div class="overlay">
        <div class="text">
            <ul>
                <li>Nom: {{ cookie.name | uppercase }}</li>
                <li *ngIf="cookie.available">Etat: Disponible</li>
                <li>Description: {{ cookie.description }}</li>
                <li>Quantité: {{ cookie.quantity }}</li> 
            </ul>
            <!-- <div *ngFor="let e of cookie.ingredients" class="ingredients">
                <ul >
                    <li>{{ e }}</li>
                </ul> 
            </div> -->
        </div>
    </div> 
    
    <!-- <button>En savoir plus</button> -->
    <button>Ajouter au panier</button>
</div>
