<h1>Les cookies proposées par la boutiques:</h1>
<div *ngFor="let cookie of cookiesService.listCookies" class="container">
    <div class="imageCookie">
        <img [src]="cookie.picture" class="image">
    </div>
    
    <div class="overlay">
        <div class="text">
            <ul>
                <li><b>Nom:</b> {{ cookie.name | uppercase }}</li>
                <li *ngIf="cookie.available"><b>Etat:</b> Disponible</li>
                <li><b>Description:</b> {{ cookie.description }}</li>
                <li><b>Prix:</b> {{ cookie.price }}&#x20AC;</li>
            </ul>
        </div>
    </div> 
    
    <div id="buttons">
        <a [routerLink]="['/detailCookie',cookie._id]">
            <button id="moreInfos" (click)="cookiesService.getCookiesById(cookie._id)">En savoir plus</button>
        </a>
        <button id="addCart" (click)="addCart(cookie)">Ajouter au panier</button>
        
    </div>
</div>
<span *ngIf="success" class="success-msg">
    Cookie correctement ajouté au panier
    <button (click)="closeAlert()">X</button>
</span>

