<nav>
    <ul>
        <li>
            <a routerLink="">Accueil</a>
        </li>
        <li>
            <a routerLink="cookie" *ngIf="statusService.connection">Gestion Cookie</a>
        </li>
        <li>
            <a routerLink="cart">({{ cartService.getQuantityCart() }})Panier</a>
        </li>
        <li>
            <a routerLink="connection" *ngIf="!statusService.connection">Connexion</a>
        </li>
        <li>
            <a routerLink="/" *ngIf="statusService.connection" (click)="deconnecte()">Deconnexion</a>
        </li>
    </ul>
</nav>
