<h1>Vous avez bon goût! voici vos choix de cookies:</h1>
<div *ngFor="let cookie of cartService.cart" class="container">
        <div class="imageAndInfos">
            <div class="imageCookie">
                <img [src]="cookie.picture" class="image">
            </div>
            <div class="text">
                <ul>
                    <li><b>Nom:</b> {{ cookie.name | uppercase }}</li>
                    <li *ngIf="cookie.available"><b>Etat:</b> Disponible</li>
                    <li><b>Description:</b> {{ cookie.description }}</li>
                    <li><b>Prix:</b> {{ cookie.price }}&#x20AC;</li>
                    <li><b>Quantité:</b> {{ cookie.quantity }}</li> 
                </ul>
                <button (click)="cartService.addCookieInCart(cookie)">+</button>
                <span>{{ cookie.quantity }}</span>
                <button (click)="cartService.removeCookieInCart(cookie)">-</button>
            </div> 
        </div>
        
</div>
<div class="validOrNot" *ngIf="cartService.cart.length > 0">
    <button (click)="cartService.postCookies(cartService.cart)">Valider</button>
    <button (click)="cartService.clearCart()">Annuler</button>
</div>

