h1{
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    /* display: block; */
    margin-bottom: 5px;
    margin-right: 10px;
}

/* Disposer l'image du cookie dans le panier et ses infos de façons horizontale */
.imageAndInfos {
    display: inline;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    border: #007BFF solid 1px;
    box-shadow: 0 6px 12px 0 rgb(151, 151, 151);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.image {
    position: relative;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}
.validOrNot{
    align-items: center;
}

/*boutton ajout dans le panier*/
button {
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: #007BFF;
    box-shadow: 0 6px 12px 0 rgb(151, 151, 151);
    margin-top: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    text-emphasis: none;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4682b4;
}

.text ul {
    list-style-type: none;
}